.faq__item {
    position: relative;
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style-type: none;
    width: 1180px;
    height: 87px;
}

.faq__item:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 32px;
    height: 32px;
    background-image: url("./img/open-purple.svg");
    background-size: contain;
    z-index: 1;
}

.faq__item:nth-last-child(even) {
    background-color: #440F51;
    color: white;
}

.faq__item:nth-last-child(even):after {
    background-image: url("./img/open.svg");
}


.faq {
    display: block;
    position: relative;
    width: 1180px;
    margin: 0px 130px 100px 130px;
    object-position: center;
}

.faq ul {
    padding: 0;
}

.faq h2 {
    margin: 0px 0px 40px 0px;
}

.faq__list p {
    margin: 0;
}



