.contacts {
  position: relative;
  max-width: 1180px;
  margin: 0px 0px 0px 130px;
  font-weight: 700;
  font-size: 24px;
}

.social a {
  margin-right: 26px;
}

.address img {
  margin-right: 30.59px;
}

.location p {
  display: inline-block;
  vertical-align: middle;
  max-width: 200px;
  margin: 0;
}

.location {
  margin-bottom: 38px;
}

.phone {
  margin-bottom: 11px;
}

.envelope {
  margin-bottom: 39px;
}